<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand">JO-PARIS-2024</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/order" routerLinkActive="active">Suivie de commande</button>
        <button mat-button class="nav-button" routerLink="/contact-us">Contactez nous</button>
        <button mat-button routerLink="/register" routerLinkActive="active">S'enrigister</button>
        <button mat-button routerLink="/login" routerLinkActive="active">Se connecter</button>
    </mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand">JO-PARIS-2024</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Tableau de Board</button>
        <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Statistiques</button>
        <button mat-button routerLink="/admin/category" routerLinkActive="active">Catégories</button>
        <button mat-button routerLink="/admin/product" routerLinkActive="active">Evenements</button>
        <button mat-button routerLink="/admin/orders" routerLinkActive="active">Commandes</button>
        <button mat-button class="nav-button" routerLink="/admin/view-contact-us">Contact mails</button>
        <button mat-button routerLinkActive="active" (click)="logout()">Se Déconnecter</button>

    </mat-toolbar>
</div>
<div *ngIf="isCustomerLoggedIn">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand">JO-PARIS-2024</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Tableau de Board</button>
        <button mat-button routerLink="/customer/cart" routerLinkActive="active">Panier</button>
        <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Commandes</button>
        <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Wishlist</button>
        <button mat-button routerLink="/customer/profile" routerLinkActive="active">Profile</button>
        <button mat-button routerLinkActive="active" (click)="logout()">Se Déconnecter</button>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>